body {
    text-align: center;
    background-color: rgb(214, 101, 164);
}

h1 {
    font-family: Pacifico;
    font-size: 80px;
    margin: 0em;
    color: black;
}

h2 {
    margin: 1em;
}

#sizePicker {
    margin-top: 0em;
}

#pixelCanvas {
    background-color: black !important; 
}